.legend-item {
  flex: 1 0 0;
  text-align: center;
  margin-right: 10px;
  color: white;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 10px;
  flex: 1 0 0;
}

.column>* {
  padding: 10px 15px;
}

.row,
.legend-view,
.main {
  display: flex;
  gap: 10px;
}

.row {
  flex-wrap: wrap;
}

.power-card,
.map-card,
.ng-card,
.fact-card {
  background-color: rgba(21, 34, 119, 0.3);
  color: white;
  box-shadow: 2px 3px 5px rgb(0 0 0 / 0.2);
  padding: 10px 15px;
}

.power-card,
.map-card,
.ng-card {
  flex: 1 0 0;
}

.power-card {
  min-width: 200px;
}

.ng-card h4::first-letter {
  text-transform: capitalize;
}

.map-card {
  min-width: 300px;
}

svg {
  width: 77%;
  padding: 3% 10%;
  max-height: calc(100vh - 350px);
}

h1,
h2,
h3,
h4 {
  margin: 5px 0;
  font-weight: 400;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #202020;
  background: #002147;
  background: linear-gradient(338deg, rgba(0, 33, 71, 1) 60%, rgba(0, 0, 0, 1) 96%);
}

.main,
.column {
  flex-direction: column;
}