.legend-item {
  flex: 1 0 0;
  text-align: center;
  margin-right: 10px;
  color: white;
}

.row,
.legend-view,
.main {
  display: flex;
  gap: 10px;
}

.row {
  flex-wrap: wrap;
}

.row > * {
  padding: 10px 15px;
  flex: 1 0 0;
  background-color: #fff;
}

.power-card {
  min-width: 200px;
}

.map-card {
  min-width: 300px;
}

svg {
  width: 77%;
  padding: 3% 10%;
  max-height: calc(100vh - 350px);
}

h1,
h2,
h3,
h4 {
  margin: 5px 0;
  font-weight: 400;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f1f1f1;
  color: #202020;
}

.main {
  flex-direction: column;
}
